/**
 * Do not delete or rename this file, if you do not use it leave it blank.
 */

/*General Look and Feel*/
.content-style{
	border:0;
	border-radius: 0px;
}

/*
 * Header Wrapper and Region
 */
#header-wrapper{
	height:75px;
}
#header-wrapper .container{
	height: 75px;
}
#header-wrapper header{
	display: block;
}


#branding{
	display:block;
	padding:0;
}

.region-header  {
  padding-top: 0;
  display:block;
  height:75px;
}
.region-header .region-inner{
	display: block;
	height: 75px;
}
.moicu_logo{
	float:left !important;
	height: 75px;
	margin:0 !important;
}

/*
 *Style the maximenu
 * */
.moicu_maximenu{
	clear: none !important;
}

#branding hgroup {
  margin-top: 0.8em;
}
#site-name {
  font-size: 3.5em;
}
.region-secondary-content .block {
  margin-bottom: 0;
  font-size: 1.077em;
}

/*
 * Styling for Auth Wrapper
 */
#auth-wrapper{
	height: 25px;
}
#userauth{
	height: 100%;
	width:13%;
	float: right;
	overflow:hidden;
}

/*
 * Make the Frontpage look good
 */
.front #header-wrapper, .front #auth-wrapper{
	background: rgba(255,255,255,0.4)
}
.front #content-wrapper{
	position:absolute;
	width: 100%;
	top: 0;
	z-index: -10;
	max-height: 620px;
	min-height: 615px;
}
.front #content-wrapper .container{
	margin:0;
	max-width:1024px;
}
.front #main-content{
	
}
.front .content-margin{
	margin:0;
}
.front .content-style{
	margin: 0;
	padding:0;
}
.front #content{
	
}
.front #footer-panels-wrapper{
	position:relative;
	top:470px;
}
